body{
  background:#f4dbd8;
}
*{
  margin: 0;
  padding:0;
}

.App {
  text-align: center;
  
}
.wrapper{
  margin: 0 10%;
}
.app-result{
  display: flex;
  flex-direction:column;
}
img{
  width: 30%;
  margin: 0 auto;

}

button{
  padding: 25px 80px;
  margin: 0 2%;
  border-radius:50px;
  border:none;
}

/* picture of book animation */
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}
/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
