body{
  background:url(./assets/library.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;  
  min-height:100vh;
}
h1,h1,h3,h4,p,ul,li,a,button{
  margin: 0;
  padding:0;
}
a{
  text-decoration: underline;
  color: rgb(255,245,238);
}

.wrapper{
  margin: 0 10%;
}
img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 10px 10px rgba(0,100,0,.5);
  transition: all .4s ease;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* style title */
h1{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  color: rgb(255,245,238);
  margin: 1%;
}
p{
  color: rgb(255,245,238);
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
/* style buttons */
.buttons{
  display: flex;
  justify-content: space-between;
}
button{
  background: rgb(0,100,0);
  color:rgb(255,245,238);
  font-family: 'Raleway', sans-serif;
  padding: 12.5px 40px;
  margin: 2%;
  border:none;
  font-size: 20px;
  cursor:pointer;
}
.button{
  border: none;
  display: block;
  transition: all 0.2s ease-in-out 0.1s;
}
.button:hover,
.button:focus{
  color: #404040;
  border-radius:50px;
  background: rgb(255,245,238);
  box-shadow: 0px 5px 40px -10px rgba(255,245,238);
}
/* style the results */
.darkBack{
  background:rgba(0,0,0,0.8);
}
.darkBack p{
  width: 50%;
  margin: 1% auto;
}
.app-result{
  display: flex;
  flex-direction:column;
}
.result{
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 1%;
}
.imgContain{  
  width: 30%;
}
.resultContent{
  padding: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0,0,0,.9);
  box-shadow: 10px 10px 0px 2px rgba(0,100,0,.5);
  transition: all .4s ease;
}

.resultContent h2{
  font-family: 'Raleway', sans-serif;
  text-align: left;  
  font-size:30px;
  margin: 2%;
  color:rgb(0,100,0);
}
.resultContent span{
  font-size: 24px;
}
.resultContent p{
  text-align: left;
  margin: 2%;
}
.resultContent i{
  margin: 1%;
  font-size: 20px;
  transition:.3s all;
}
.resultContent i:hover,
.resultContent i:focus {
  color: rgb(0,100,0);
  font-size: 30px;
}

/* footer */
footer{
  background:rgba(0,0,0,1);
}
/* animations below */
/* picture of book animation */
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}
/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
/* resultContent animation */
.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width:1122px){
  .result{
    flex-direction: column;
    margin-bottom: 5%;
  }
  .imgContain{
    width: 70%;
    margin: 5% auto;    
  }
  .resultContent{
    width: 100%;
    margin: 5% auto;
  }
}
@media screen and (max-width:750px){
  .result{
    width: 100%;
  }
  .buttons{
    flex-direction: column;
  }
}
@media screen and (max-width:500px){
  .darkBack p{
    width: 76%;
    margin: 2% auto;
  }
  .button{
    margin: 5% 0;
  }
  .imgContain{
    width: 100%;
  }
  .resultContent{
    width: 100%;
  }
  .resultContent h2,p{
    padding: 2%;
  }
}
/* References */

/* Animista for awesome animations */
/* https://www.magnet4blogging.net/button-styles/ */
/* for the button hover and focus effects  */
